// ==========================================================================
// Button Component
// ==========================================================================
@use '../../scss/variables' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-2;
  padding: $spacing-4 $spacing-6;
  font-family: $font-family-base;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  line-height: 1;
  text-decoration: none;
  // border: 2px solid transparent;
  border-radius: $border-radius-lg;
  cursor: pointer;
  transition: all $transition-fast;

  &:focus-visible {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }

  // --------------------------------------------------------------------------
  // Variants
  // --------------------------------------------------------------------------
  &--primary {
    background: linear-gradient(45deg, $color-primary 0%, $color-primary-light 100%);
    border-color: transparent;
    color: $color-white;

    &:hover {
      background: linear-gradient(45deg, darken($color-primary, 5%) 0%, darken($color-primary-light, 5%) 100%);
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid  $color-primary;
    color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &--outline-white {
    background-color: transparent;
    border: 1px solid  $color-white;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  &--white {
    background-color: $color-white;
    border-color: $color-white;
    color: $color-primary;

    &:hover {
      background-color: $color-neutral-100;
      border-color: $color-neutral-100;
    }
  }

  &--ghost {
    background-color: transparent;
    border-color: transparent;
    color: $color-primary;

    &:hover {
      background-color: rgba($color-primary, 0.1);
    }
  }

  // --------------------------------------------------------------------------
  // States
  // --------------------------------------------------------------------------
  &--disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &--full-width {
    width: 100%;
  }
}
