<!--
  Card Icon Component
  WordPress: Reusable partial for feature highlights, services, benefits

  ACF Fields:
  - card_icon (text/svg or icon class)
  - card_icon_title (text)
  - card_icon_description (textarea)
  - card_icon_button (link) - optional

  Usage:
  <include src="components/card-icon/card-icon.html">
    <yield name="icon"><i class="fa-solid fa-circle-info"></i></yield>
    <yield name="title">Feature Title</yield>
    <yield name="description">Feature description text goes here.</yield>
    <yield name="buttonText">Learn More</yield>
    <yield name="buttonUrl">#</yield>
  </include>
-->
<article class="card-icon <yield name="class"></yield>" data-animate="fade-in">
  <div class="card-icon__icon">
    <yield name="icon">
      <i class="fa-solid fa-circle-info"></i>
    </yield>
  </div>
  <div class="card-icon__content">
    <h3 class="card-icon__title h5">
      <yield name="title">Feature Title</yield>
    </h3>
    <p class="card-icon__description">
      <yield name="description">Feature description text goes here.</yield>
    </p>
    <div class="card-icon__action">
      <a href="<yield name="buttonUrl">#</yield>" class="btn btn--primary"><yield name="buttonText">Learn More</yield></a>
    </div>
  </div>
</article>
