// ==========================================================================
// Card Image Component
// ==========================================================================
@use '../../scss/variables' as *;

.card-image {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: transparent;
  border-radius: $border-radius-2xl;
  padding: $spacing-4;
  border: 1px solid transparent;
  transition: transform $transition-base, background-color $transition-base, box-shadow $transition-base, border-color $transition-base;

  &:hover {
    transform: translateY(-4px);
    background-color: $color-white;
    border-color: $color-sand-dark;
    box-shadow: 0 0 0 1.5px #13141403, 0 1px 1px -.5px #13141403, 0 3px 3px -1.5px #13141403, 0 6px 6px -3px #13141403, 0 12px 12px -6px #13141403, 0 24px 24px -12px #13141403;
  }

  &__image-wrapper {
    position: relative;
    aspect-ratio: 5 / 6;
    overflow: hidden;
    border-radius: $border-radius-2xl;
    // border: 6px solid $color-white;
    // box-shadow: $shadow-sm;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $transition-slow;

    .card-image:hover & {
      transform: scale(1.05);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: $spacing-4 0 0;
  }

  &__title {
    margin-bottom: $spacing-2;
  }

  &__description {
    // color: $color-text-muted;
    margin-bottom: 0;
    transition: opacity $transition-base;

    .card-image:hover & {
      opacity: 0;
    }
  }

  &__cta {
    position: absolute;
    bottom: 24px;
    left: 24px;
    opacity: 0;
    transition: opacity $transition-base;

    .card-image:hover & {
      opacity: 1;
    }
  }

  // --------------------------------------------------------------------------
  // Variants
  // --------------------------------------------------------------------------
  &--horizontal {
    @media (min-width: $breakpoint-md) {
      flex-direction: row;

      .card-image__image-wrapper {
        flex: 0 0 40%;
        aspect-ratio: auto;
      }

      .card-image__content {
        flex: 1;
        padding: $spacing-8;
      }
    }
  }

  &--featured {
    .card-image__title {
      font-size: $font-size-2xl;
    }

    .card-image__description {
      font-size: $font-size-lg;
    }
  }

}
